.header {
  min-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;

  &-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: relative;
  }

  &-logo {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;

    &::after {
      content: "// digital designer";
      color: rgb(129, 129, 129);
    }
  }

  &-icon {
    position: relative;
    ion-icon {
      font-size: 46px;
      transition: all 0.4s ease-in-out;
      position: absolute;
    }
    #closebtn {
      opacity: 0;
      visibility: hidden;
    }
    .sidenav {
      height: 0;
      width: 80%;
      position: fixed;
      z-index: 1;
      top: 130px;
      left: 10%;
      background-color: rgb(0, 0, 0);
      overflow: hidden;
      transition: 0.5s;
      margin-top: 100px;
      text-align: right;
      font-family: 'Playfair Display', serif;

      a {
        padding: 8px 40px 8px 32px;
        text-decoration: none;
        font-size: 55px;
        color: #ffffff;
        display: block;
        transition: 0.3s;
        position: relative;

        &::after {
          content: " ";
          position: absolute;
          right: 0;
          top: 58%;
          height: 3px;
          width: 15px;
          background-color: #ffffff;
          z-index: 1;
          transition: all 0.5s ease;
        }

        &:hover::after {
          width: 240px;
        }
      }

      p {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 600;
        color: rgb(189, 189, 189);
        padding-top: 20px;
        padding-right: 40px;
      }

      .active {
        padding-top: 100px;
      }
    }
  }

  &-content {
    h1 {
      font-size: 55px;
      font-family: 'Playfair Display', serif;
      padding-right: 300px;

      p {
        display: inline-block;
        font-style: italic;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -10px;
          right: 0;
          width: 100%;
          height: 2px;
          background-image: linear-gradient(to right, #00ff9b, #00ebd7, #00d0ff, #00aeff, #0085ff)
        }
      }
    }
  }

  &-button {
    h3 {
      font-weight: 500;
      text-transform: uppercase;
      padding-bottom: 20px;
    }

    ion-icon {
      font-size: 24px;
    }
  }
}